/*fichier de css de la page d'un album*/

/*album head part*/
#album-head .ah-img{
    max-width: 300px;
}
#album-head .ah-img img{
    border-radius: 10px;
    width: 100%;
}
#album-head .ah-infos>*{
    margin-bottom: 0;
}
#album-head .ah-infos>p{
    color: var(--text-dark-gray);
    font-size: 0.9rem;
}
#album-head .ah-infos>h1{
    color: var(--text-black);
    font-size: 2rem;
}
#album-head .ah-infos figure img{
    border-radius: 50%;
    margin-right: 10px;
}
#album-head .ah-infos figure p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
}
#album-head .ah-infos figure p a{
    color: var(--text-black);
}
/*end album head part*/

/*album tracklist part*/
#album-tracklist{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(244, 244, 244, 0.45) 0.01%, rgba(18, 18, 22, 0.225) 33.96%), var(--text-black);
    min-height: 60vh;
}
#album-tracklist .at-link a{
    color: var(--text-white);
    padding: 10px 15px;
    background-color: var(--bg-green);
    border-radius: 5px;
    text-decoration: none;
}
#album-tracklist .at-link a i{
    padding-right: 5px;
}
#album-tracklist table{
    border-collapse: collapse;
}
#album-tracklist table th{
    color: var(--text-gray);
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-dark-gray);
}
#album-tracklist table thead tr>th:nth-child(1),
#album-tracklist table thead tr>th:nth-child(2),
#album-tracklist table thead tr>th:nth-child(4),
#album-tracklist table thead tr>th:nth-child(5){
	width: 5%;
}
#album-tracklist tbody tr{
	height: 60px;
}
#album-tracklist tbody tr:hover{
    background-color: hsla(0,0%,100%,.1);
    transition: 0.5s;
}
#album-tracklist tbody tr:hover>td:nth-child(2) i,
#album-tracklist tbody tr:hover>td:nth-child(4) button{
    display: block !important;
}
#album-tracklist tbody td,
#album-tracklist tbody td a{
    color: var(--text-white);
    font-size: 1.1rem;
    text-decoration: none;
}
#album-tracklist tbody td a:hover{
    text-decoration: underline;
}
#album-tracklist tbody td button{
    color: var(--text-dark-gray);
    background-color: transparent;
    border-style: none;
}
#album-tracklist tbody td button:hover,
#album-tracklist tbody tr>td:last-child{
    color: var(--text-gray);
}
/*end album tracklist part*/

/***** media queries *****/
@media screen and (max-width: 576px){
    #album-tracklist tbody tr td:nth-child(2),
    #album-tracklist tbody tr td:last-child,
    #album-tracklist thead tr th:nth-child(2),
    #album-tracklist thead tr th:last-child{
        display: none;
    }
    .btn-fav{
        display: block !important;
    }
    #album-head .row{
        flex-direction: column;
        text-align: center;
    }
    #album-head .ah-infos figure{
        justify-content: center;
    }
}
/***** fin media queries *****/