/*fichier css de la page artist*/

.artist-card img{
    border-radius: 50%;
}
.artist-card h1{
    color: var(--text-black);
    font-size: 2rem;
}
.artist-card .stats{
    color: var(--text-dark-gray);
    font-weight: 400;
}
.artist-card p a{
    color: var(--text-white);
    text-decoration: none;
    padding: 8px 20px;
    background-color: var(--bg-green);
    border-radius: 5px;
    margin-left: auto;
}