/*fichier css de la page des favoris*/

/*favorite head section*/
#fav-head{
    min-height: 400px;
    margin-top: -150px;
    padding-top: 150px;
    background-image: linear-gradient(to top, #fff, transparent 30%), url(../img/favorite_back_md.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 65%;
    display: flex;
    align-items: center;
}
#fav-head h1{
    font-size: 2.5rem;
    color: var(--text-black);
}
#fav-head h1+p{
    font-size: 1.2rem;
}
/*end favorite head section*/

/*fav list part*/
#fav-list{
    min-height: 60vh;
}
#fav-list table{
    border-collapse: collapse;
}
#fav-list table th{
    color: var(--text-dark-gray);
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-dark-gray);
}
#fav-list thead tr>th:nth-child(1),
#fav-list thead tr>th:nth-child(2),
#fav-list thead tr>th:nth-child(5),
#fav-list thead tr>th:nth-child(6){
	width: 5%;
}
#fav-list tbody tr{
	height: 60px;
}
#fav-list tbody tr:hover{
    background-color: var(--bg-gray);
    transition: 0.5s;
}
#fav-list tbody tr:hover>td:nth-child(5) button{
    display: block !important;
}
#fav-list tbody td,
#fav-list tbody td a{
    color: var(--text-black);
    font-size: 1.1rem;
    text-decoration: none;
}
#fav-list tbody td a:hover{
    text-decoration: underline;
}
#fav-list tbody td img{
    border-radius: 5px;
}
#fav-list tbody td small{
    display: block;
    font-size: 0.8rem;
    color: var(--text-dark-gray);
}
#fav-list tbody td button{
    color: var(--text-gray);
    background-color: transparent;
    border-style: none;
}
#fav-list tbody td button:hover,
#fav-list tbody tr>td:last-child{
    color: var(--text-dark-gray);
}
/*end fav list part*/

/***** media queries *****/
@media screen and (max-width: 576px){
    #fav-list thead tr > th:nth-child(4), 
    #fav-list thead tr > th:nth-child(6),
    #fav-list tbody tr> td:nth-child(4),
    #fav-list tbody tr> td:nth-child(6){
        display: none;
    }
    .btn-del{
        display: block !important;
    }
}
/***** fin media queries *****/