/*fichier de css commun à toutes les pages*/

:root{
    /*variables couleurs*/
    --text-white: #fff;
    --text-green: #29AB70;
    --text-gray: #B0B0B0;
    --text-dark-gray: #686868;
    --text-orange: #e24329;
    --text-black: #121216;
    --bg-black: #121216;
    --bg-green: #29AB70;
    --bg-white: #fff;
    --bg-gray: #E5E5E5;
    /*variables police*/
    --text-roboto: "Roboto", sans-serif;
    --text-pacifico: "Pacifico", cursive;
    --text-montserrat:"Montserrat", sans-serif;
}
body *{
    font-family: var(--text-roboto);
}
main{
    padding-top: 150px;
    min-height: 100vh;
}

/******HEADER's styles*********/
.mak-navbar{
    background-color: var(--bg-black);
    position: fixed;
    border-bottom: 1px solid var(--text-gray);
    z-index: 4;
}
.mak-navbar a{
    text-decoration: none;
}
.mak-navbar .mak-navbar-brand{
    font-family: var(--text-pacifico);
    font-size: 2.4rem;
    color: var(--text-green);
}
.menu-burger{
    color: var(--text-gray);
    font-size: 1.2rem;
    padding: 0 10px;
    background-color: transparent;
    border-style: none;
    border: 1px solid var(--text-gray);
    border-radius: 3px;
    display: block;
    margin-left: auto;
    transform: translateY(50%);
}
.menu-burger:hover{
    color: var(--text-white);
    background-color: var(--text-dark-gray);
}
.mak-navbar .mak-navbar-nav ul{
    justify-content: end;
    align-items: center;
}
.mak-navbar .mak-navbar-nav a{
    color: var(--text-white);
    font-size: 1.2rem;
}
.mak-navbar .mak-navbar-nav a:hover,
.mak-navbar .mak-navbar-nav a.active{
    color: var(--text-green)
}
/******end HEADER's styles*********/

/*****FOOTER's styles******/
footer{
    background-color: var(--bg-black);
}
footer p{
    font-family: var(--text-montserrat);
    color: var(--text-white);
}
footer a{
    text-decoration: none;
    color: var(--text-white);
}
footer a:hover{
    color: var(--text-gray);
}
footer p i{
    font-size: 20px;
}
/*****end FOOTER's styles******/

/***** media queries *****/
@media screen and (max-width: 576px){
    .mak-navbar .mak-navbar-brand{
        font-size: 2rem;
    }
    .mak-navbar .mak-navbar-nav{
        display: none;        
    }
    .mak-navbar .mak-navbar-nav ul{
        flex-direction: column;
        align-items: end;
    }
    .mak-navbar .mak-navbar-nav ul li:first-child{
        margin-right: 0 !important;
    }
    .mak-navbar .mak-navbar-nav ul li:last-child{
        margin-bottom: 20px !important;
    }
}
@media screen and (min-width: 576px){
    .mak-navbar .mak-navbar-nav{
        display: block !important;        
    }
}
/***** fin media queries *****/
