/*fichier de styles de la page d'accueil*/
main{
    background-color: var(--bg-black);
}
#search-box{
    min-height: 300px;
}
/*form's styles*/
#search-box form{
    min-height: 300px;
    justify-content: center;
    align-items: center;
}
#search-box .mak-input-group{/*input text*/
    border: 1px solid var(--text-gray);
    border-radius: 50px;
    align-items: center;
}
#search-box .mak-input-group span{
    border-right: 1px solid var(--text-white);
}
#search-box .mak-input-group span i{
    color: var(--text-white);
    font-size: 1.4rem;
}
#search-box .mak-input-group input{
    width: 18rem;
    border-style: none;
    background-color: transparent;
    font-family: var(--text-montserrat);
    color: var(--text-white);
}
#search-box .mak-input-group input:focus-visible{
    outline: none;
}
#search-box .mak-select-group{/*select options*/
    border: 1px solid var(--text-gray);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-box .mak-select-group span{
    font-size: 1.5rem;
    color: var(--text-white);
    position: absolute;
}
#search-box .mak-select-group select{
    width: 4rem;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 3;
    appearance: none;
    cursor: pointer;
}
#search-box .btn-submit{
    font-family: var(--text-montserrat);
    border-radius: 50px;
    background-color: var(--bg-green);
    color: var(--text-white);
    border-style: none;
    transition: 0.5s;
}
#search-box .btn-submit:hover{
    background-color: var(--bg-white);
    color: var(--text-green);
}
/*end form's styles*/
/***results box styles***/
#results-box h1, #results-box h1+p{ /*head text*/
    color: var(--text-white);
}
#results-box h1+p{
    font-size: 1.2rem;
}
#results-box ul{
    justify-content: space-between;
    flex-wrap: wrap;
}
#results-box ul li{
    margin-bottom: 20px;
}
.mak-card{/*card of each result*/
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.mak-card .mak-card-img{
    border-radius: 10px 10px 0 0;
}
.mak-card .mak-card-desc{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--bg-white);
    border-radius: 40px 0 0 0;
    padding: 10px 20px;
}
.mak-card .mak-card-desc img{
    border-radius: 50%;
    margin-right: 10px;
}
.mak-card .mak-card-desc p{
    margin-bottom: 0;
}
.mak-card .mak-card-desc .desc-title{
    color: var(--text-black);
    font-weight: 500;
    font-size: 1rem;
}
.mak-card .mak-card-desc .desc-album{
    color: var(--text-gray);
    font-size: 0.9rem;
}
.mak-card .mak-card-desc .desc-artist a{
    color: var(--text-dark-gray);
    font-size: 0.9rem;
    font-weight: 500;
}
.mak-card .btn-card{
    position: absolute;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--text-white);
    border-radius: 50%;
    color: var(--text-white);
    line-height: 2rem;
    text-align: center;
    transition: 0.5s;
    left: 0.5rem;
}
.mak-card .btn-card:hover{
    color: var(--text-green);
    border: 1px solid var(--text-green);
}
.mak-card .btn-play{
    top: 9.5rem;
}
.mak-card .btn-disc{
    top: 7rem;
}
.mak-card .btn-fav{
    top: 4.5rem;
}
.mak-card:hover .btn-fav,
.mak-card:hover .btn-disc{
    display: block !important;
}
.mak-card:hover .mak-card-img{
    transform: scale(1.1);
    transition: 0.5s;
}
/***end results box styles***/

/***** media queries *****/
@media screen and (max-width: 576px){
    #search-box form{
        flex-direction: column;
    }
    #search-box form>*{
        margin-bottom: 20px;
    }
    #search-box .mak-input-group input{
        width: 13rem;
    }
    #search-box .mak-select-group span{
        display: none;
    }
    #search-box .mak-select-group select{
        width: 18rem;
        appearance: auto;
        color: var(--text-dark-gray);
    }
    #results-box ul{
        justify-content: center;
    }
    #results-box ul li{
        margin-right: 15px;
    }
    .btn-card{
        display: block !important;
    }
}
/***** fin media queries *****/