/*fichier de css de la page d'un titre'*/
/*audio player part*/
.mak-player{
    max-height: 450px;
    overflow: hidden;
}
.mak-player img{
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: center;
}
.mak-player audio{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
/*end audio player part*/

/*track's infos part*/
.track-infos{
    border-bottom: 1px solid var(--text-gray);
}
.track-infos h1{
    font-size: 1.4rem;
    color: var(--text-black);
    word-wrap: break-word;
}
.track-infos .timing{
    color: var(--text-gray);
    font-size: 1.1rem;
}
.track-infos .links{
    justify-content: end;
}
.track-infos .links a{
    text-decoration: none;
    color: var(--text-black);
    font-weight: 400;
}
.track-infos .links a:hover{
    text-decoration: underline;
}
.track-infos .links a i{
    padding-right: 5px;
    color: var(--text-green);
}
/*end track's infos part*/

/*artist infos part*/
.artist-infos figure{
    align-items: center;
}
.artist-infos figure img{
    border-radius: 50%;
    margin-right: 5px;
}
.artist-infos figure p{
    margin-bottom: 0;
    font-size: 0.9rem;
    color: var(--text-gray);
}
.artist-infos figure p a{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-black);
}
.artist-infos .view-pg{
    color: var(--text-white);
    text-decoration: none;
    padding: 8px 20px;
    background-color: var(--bg-green);
    border-radius: 5px;
    margin-left: auto;
}
/*end artist infos part*/

/*related album part*/
.related-album .mak-head{
    background-color: var(--bg-gray);
}
.related-album .mak-head>*{
    margin-bottom: 0;
}
.related-album .mak-head h2{
    font-size: 1.4rem;
    color: var(--text-black);
}
.related-album .mak-head p{
    font-size: 0.9rem;
    color: var(--text-dark-gray);
}
.related-album .mak-img img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}
.related-album .track-list li{
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid var(--text-gray);
}
.related-album .track-list li a{
    font-size: 1.1rem;
    color: var(--text-black);
    text-decoration: none;
    display: flex;
}
.related-album .track-list li a span:last-child{
    margin-left: auto;
    color: var(--text-gray);
}
/*related album part*/
/***** media queries *****/
@media screen and (max-width: 576px){
    .track-infos .row{
        flex-direction: column;
    }
}
/***** fin media queries *****/